# Logs
#
logs
*.log

# node.js
#
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Covers JetBrains IDEs
#
.idea/

# vscode
#
.vscode/

# OSX
#
.DS_Store


# WebdriverIO files
#
.tmp/errorShots/
